html {
    display: inline-block;
    text-align: center;
}

h1 {
    color: #444444;
    margin: 0;
}

p {
    font-size: 14pt;
    color: #444444;
    margin: 0;
}

body, html {
    color: #333538;
    font-family: 'Lato', sans-serif;
    line-height: 1.6;
    padding: 0;
    margin: 0;
}

.ca {
    width: 80%;
    margin: auto;
}

.cb {
    align-items: stretch;
}

.cr {
    display: flex;
    padding: 7px 0 7px 20mm;
}

div.col {
    flex: 1;
}

.col div {
    clear: both;
}

.col div p {
    float: left;
}

canvas {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}